server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/payments
    username: app
    password: app

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC

  kafka:
    bootstrap-servers: localhost:9092

management:
  endpoints:
    web:
      exposure:
        include: health,info
